html {
    font-size: 16px;
    font-family: "Book Antiqua", "Lucida Bright", "Lucida Sans", "Georgia", sans-serif;
}

html, body {
    box-sizing: border-box;
    margin: 0;
}

body {
    background: #e8eff9;
    position: relative;

}

header {
    top: 0;
    position: fixed;
    background-color: #dedbdb;
    text-align: center;
    height: 5rem;
    width: 100%;
    z-index: 2;
}

main {
    margin-top: 5rem;
    width: auto;
    height: 100vh;
    position: relative;
}

.mainSection {
    height: 100vh;
    width: 100%;
}

.sidebar {
    height: 100vh;
    width: 300px;
    left: -300px;
    position: absolute;
    background-color: #6983cf;
    border-right: 1px solid #132240;
}

/* chat messages area*/
#messages {
    padding: 10px 20px;
    /*width: 100%;*/
    margin-bottom: 6rem; /* height of input section */
}


span.time {
    float: right;
    padding: 10px;
    font-size: 1.25rem;
    color: #bcbcbc;
}


.messagePanel {
    border: 1px solid #eee;
    border-radius: 4px;
    margin-bottom: 10px;
    background: #fff;
}

.messagePanel > p {
    padding: 10px;
    font-size: 2.5rem;
}


.username {
    color: green;
    font-weight: bold;
    font-style: italic;
    border-bottom:  1px solid #eee;
}

.messageBody {
    color: #888;
}

/* end chat messages section */

/*input section*/

.inputSection {
    bottom: 0px;
    position: fixed;
    width: 100%;
    padding: 1rem;
    height: 6rem;
    background-color: #ccc;
}


.inputSection textarea {
    font-size: 2.5rem;
    font-family: "Arial", sans-serif;
    border-radius: 4px;
    width: 100%;
    height: 5rem;
    line-height: 1.5;
    margin: 5px 10px;
    resize: none;
}

.submit > input[name=post] {
    height: 80px;
    width: 80px;
    font-size: 1.5rem;
    margin: 5px 10px;
    border: none;
    border-radius: 50%;
    background-color: #33ee77;
    color: white;
    font-weight: bold;
}

.inputSection > form {
    display: inline-flex;
    flex-flow: row;
    width: 100%;
}
div.entries > textarea {
    width: 100%;
}
div.entries {
    display: inline-flex;
    width: 85%;
}
div.submit {
    width: 15%;
    display: inline-flex;
}

/* end of input section*/
