<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- <link rel="stylesheet" href="/static/main.css" media="screen" title="no title" charset="utf-8"> -->
        <link rel="stylesheet" href="/static/mobile.css" charset="utf-8">
        <title>Vanilla</title>
    </head>
    <body>
        <header>
            <div class="">
                <h1>My Vanilla Project</h1>
            </div>
        </header>
        <main>
            <aside class="sidebar">
                <div class="rooms">
                    {% each rooms %}
                    <p>{{ room }}</p>
                    {% endeach %}
                </div>
            </aside>
            <section class="mainSection">
                <section id="messages">
                </section>
                <section class="inputSection">
                    <form class="message_form" action="./public/posts.json" method="POST">
                        <div class="entries">
                            <textarea name="message" placeholder="What's on your mind?"></textarea>
                        </div>
                        <div class="submit">
                            <input type="submit" name="post" value="POST">
                        </div>
                    </form>
                </section>
            </section>
        </main>

        <script type="text/javascript" src="/static/index.js"></script>
    </body>
</html>
